<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Prep", root_path %></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><%= link_to "Browse Spaces", restaurants_path %></li>
      <li><%= link_to "List Spaces", new_restaurant_path %></li>

      <% if user_signed_in? %>
        <li class="has-dropdown">
          <a href="#"><%= current_user.email %></a>
          <%#= link_to current_user, class: "dropdown-toggle nav-link" do %>
            <%#= image_tag current_user.image, class: "profile_photo" %> 
          <%# end %>
          <ul class="dropdown">
            <li>
              <%= link_to "Profile", current_user %>
            </li>
            <li>
              <%= link_to "Edit Account", edit_user_registration_path %>
            </li>
            <li>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>   
            </li>
          </ul>
        </li>
      <% else %>
        <li>
          <%= link_to "Login", new_user_session_path %>
        </li>
        <li>
          <%= link_to "Register", new_user_registration_path %>
        </li>
      <% end %>
    </ul>
  </section>
</nav>