<div class="row-fluid">
  <div style="width:60%;" class="small-8 medium-8 large-8 columns">
    <ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2">
      <% @restaurants.each do |restaurant| %>
        <li>
          <%= image_tag restaurant.picture.detail, class: "card-img-top"  %>
          <h4><%= link_to restaurant.name, restaurant %></h4>
          <p>£<%=restaurant.price%></p>
          <%= image_tag restaurant.user.image.thumb, class: "profile_photo_owner" %>
        </li>
        <script type="text/javascript">
          var latLng = {lat: <%= restaurant.latitude %>, lng: <%= restaurant.longitude%>}
          function markMarkers(){
            marker = new google.maps.Marker({
              position: latLng,
              map: map,
              title: 'Hello World!',
              icon: "http://cdn.leafletjs.com/leaflet-0.4/images/marker-icon.png"
            });
          }
          markMarkers()
        </script>
      <% end %>
    </ul>
    <%= paginate @restaurants %>
  </div>
  <div style="width:40%; position: fixed; right: 0px;" class="small-6 medium-6 large-6 columns">
    <div style="width:100%; position:fixed; right: 0;" id="indexMap"></div>
  </div>
</div>

<script type="text/javascript">
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('indexMap'), {
      center: {lat: <%= @restaurants.first.latitude %>, lng: <%= @restaurants.first.longitude %>},
      zoom: 10
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClxb-Zn1rpl0SvSeqRNipsFNi_5syF-kQ&callback=initMap">
</script>