<h2><%= @restaurant.name %></h2>
<%= @restaurant.name %>
<%= @restaurant.description %>
<%= @restaurant.price %>

<%= link_to "Delete", restaurant_path(@restaurant), data: { confirm: 'Are you sure?' }, method: :delete %>
<%= link_to "Edit", edit_restaurant_path(@restaurant) %>