<div class="row">
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <% @restaurants.each do |restaurant| %>
        <div class="card">
          <%= image_tag restaurant.picture, class: "card-img-top" %> 
          <div class="card-block">
            <h4 class="card-title"><%= link_to restaurant.name, restaurant %> by <%= restaurant.user.try(:username) %></h4>
            <p class="card-text"><%=restaurant.description%></p>
            <%= link_to "Book Space", restaurant, class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>