<div class="contain-to-grid sticky">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to(image_tag('https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/12193587_1672271259722916_2373794763097748916_n.jpg?oh=6da0e083f90f3ea4845e236685c72796&oe=56B606DC', class: 'logo'), root_path) %></h1>

    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
<!--       <li><%= link_to "Browse Spaces", restaurants_path %></li> -->
      <%= link_to(image_tag("https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/12065785_1672264409723601_7270187615903356998_n.jpg?oh=30ee7c6759ca9cfc7807e2ba37170262&oe=56C5E023", class: 'host'), new_restaurant_path,) %>


      <% if user_signed_in? %>
        <li class="has-dropdown">
          <a href="#"><%= image_tag current_user.image.thumb, class: "logged_in_user" %></a>
          <%#= link_to current_user, class: "dropdown-toggle nav-link" do %>
            <%#= image_tag current_user.image, class: "profile_photo" %> 
          <%# end %>
          <ul class="dropdown">
            <li>
              <%= link_to(image_tag(current_user.image.thumb, class: 'profile_photo_pop_up')) %>
            </li>
            <li>
              <%= link_to "Edit Account", edit_user_registration_path, class: "dropdown_link" %>
            </li>
            <li>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "dropdown_link") %>   
            </li>
          </ul>
        </li>
      <% else %>
        <li>
          <%= link_to "Login", new_user_session_path %>
        </li>
        <li>
          <%= link_to "Register", new_user_registration_path %>
        </li>
      <% end %>
    </ul>
  </section>
</nav>
</div>